/*
Error: Invalid CSS after "...form: uppercase": expected "{", was ";"
        on line 83 of scss/main.scss

78: 		margin: 0 auto 40px;
79: 		h4 {
80: 			//color: white;
81: <<<<<<< HEAD
82: 			//margin-bottom: 8px;
83: 			text-transform: uppercase;
84: 			color: #111 !important;
85: 			background-color: transparent;
86: =======
87: 			margin-bottom: 8px;
88: 			text-transform: uppercase; 

Backtrace:
scss/main.scss:83
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:1278:in `expected'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:1208:in `expected'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:1203:in `tok!'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:677:in `block'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:697:in `block_child'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:686:in `block_contents'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:678:in `block'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:697:in `block_child'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:678:in `block'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:697:in `block_child'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:678:in `block'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:670:in `ruleset'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:696:in `block_child'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/scss/parser.rb:41:in `parse'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/engine.rb:414:in `_to_tree'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `each'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `call'
/Users/manselm/.rvm/gems/ruby-2.2.4/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...form: uppercase\": expected \"{\", was \";\"\A         on line 83 of scss/main.scss\A \A 78: 		margin: 0 auto 40px;\A 79: 		h4 {\A 80: 			//color: white;\A 81: <<<<<<< HEAD\A 82: 			//margin-bottom: 8px;\A 83: 			text-transform: uppercase;\A 84: 			color: #111 !important;\A 85: 			background-color: transparent;\A 86: =======\A 87: 			margin-bottom: 8px;\A 88: 			text-transform: uppercase; "; }
